<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/head :: head"></head>
<div id="preloader">
    <div class="loader"></div>
</div>
<div class="page-container">
    <aside th:replace="admin/common/sidebar :: sidebar"></aside>
    <div class="main-content">
        <nav th:replace="admin/common/navbar :: navbar"></nav>
        <div class="container rounded bg-white mt-5">
            <div class="row">
                <div class="col-md-4 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" src="https://i.imgur.com/0eg0aG0.jpg" width="90"><span
                            class="font-weight-bold">John Doe</span><span
                            class="text-black-50">john_doe12@bbb.com</span><span>United States</span></div>
                </div>
                <div class="col-md-8">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="d-flex flex-row align-items-center back">
                                <h6>Thông tin cá nhân</h6>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <input type="text" id="accountId" hidden="hidden">
                            <div class="col-md-6">
                                <input type="text" id="fullname" class="form-control"></div>
                            <div class="col-md-6">
                                <input type="text" id="username" class="form-control">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><input type="text" class="form-control" id="phone"></div>
                            <div class="col-md-6"><input type="text" class="form-control" id="email"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><input type="text" class="form-control" id="address"></div>
                                <div class="col-md-6"><input type="date" class="form-control" id="dob"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><input type="text" class="form-control"  id="certificate"></div>
                            <div class="col-md-6"><input type="text" class="form-control" id="description"></div>
                        </div>
                        <div style="margin-top: 20px">
                            <div class="col-md-12"><a style="float: right" data-toggle="modal"
                                                      data-target="#exampleModalLong" href="">Đổi mật khẩu </a></div>
                        </div>
                        <div class="mt-5 text-right">
                            <button class="btn btn-primary profile-button" type="button">Lưu thông tin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-area">
            <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
        </div>
    </footer>
</div>

<div class="col-lg-6 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Basic Modal</h4>
            <p>Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of
                the page.</p>

            <div class="modal fade" id="exampleModalLong" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label>Mật khẩu cũ</label>
                                        <input type="password" class="form-control" aria-describedby="emailHelp"
                                               placeholder="Nhập mật khẩu cũ">

                                    </div>
                                    <div class="form-group">
                                        <label>Mật khẩu mới</label>
                                        <input type="password" class="form-control" placeholder="Nhập mật khẩu mới">
                                    </div>
                                    <div class="form-group">
                                        <label>Nhập lại mật khẩu mới</label>
                                        <input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary">Đổi mật khẩu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/common/script :: script"></div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:8080/api/account/common/getUser',
            type: 'GET',
            success: function (data) {
                $('#accountId').val(data.data.id);
                $('#fullname').val(data.data.fullname);
                $('#username').val(data.data.username);
                $('#phone').val(data.data.phone);
                $('#email').val(data.data.email);
                $('#address').val(data.data.address);
                let birthday = formatDateForInput(data.data.birthday);
                $('#dob').val(birthday);
                $('#certificate').val(data.data.certificate);
                $('#description').val(data.data.description);
                console.log(data)
            },
            error: function (error) {
                console.error(error);
            }
        });
    });

    function formatDateForInput(dateStr) {
        // Assuming the input dateStr is in MM/dd/yyyy format
        const parts = dateStr.split('/');
        if (parts.length === 3) {
            const month = parts[0];
            const day = parts[1];
            const year = parts[2];
            return `${year}-${month}-${day}`;
            // return `${day}-${month}-${year}`;
        }
        return '';
    }


</script>
</body>
</html>
