<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="user/common/head :: head"></head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<body>
<header th:replace="user/common/header :: header"></header>
<section>
    <div style="width: 100%; height: 100px; margin-top: 89px;">
        <div class="menu-container">
            <ul class="menu" id="parent-menu"></ul>
        </div>
    </div>

</section>

<!--<section style="margin-top: -46px;background-color: darkgrey;height: 500px">-->
<!--    <div class="container">-->
<!--        <div class="row align-items-center">-->
<!--            <div class="col-lg-6 col-xl-6">-->
<!--                <div class="banner_text">-->
<!--                    <div class="banner_text_iner">-->
<!--                        <h5>Every child yearns to learn</h5>-->
<!--                        <h1>Making Your Childs-->
<!--                            World Better</h1>-->
<!--                        <p>Replenish seasons may male hath fruit beast were seas saw you arrie said man beast whales-->
<!--                            his void unto last session for bite. Set have great you'll male grass yielding yielding-->
<!--                            man</p>-->
<!--                        <a href="#" class="btn_1">View Course </a>-->
<!--                        <a href="#" class="btn_2">Get Started </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section class="feature_part">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-sm-6 col-xl-3 align-self-center">-->
<!--                <div class="single_feature_text ">-->
<!--                    <h2>Awesome <br> Feature</h2>-->
<!--                    <p>Set have great you male grass yielding an yielding first their you're-->
<!--                        have called the abundantly fruit were man </p>-->
<!--                    <a href="#" class="btn_1">Read More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6 col-xl-3">-->
<!--                <div class="single_feature">-->
<!--                    <div class="single_feature_part">-->
<!--                        <span class="single_feature_icon"><i class="ti-layers"></i></span>-->
<!--                        <h4>Better Future</h4>-->
<!--                        <p>Set have great you male grasses yielding yielding first their to-->
<!--                            called deep abundantly Set have great you male</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6 col-xl-3">-->
<!--                <div class="single_feature">-->
<!--                    <div class="single_feature_part">-->
<!--                        <span class="single_feature_icon"><i class="ti-new-window"></i></span>-->
<!--                        <h4>Qualified Trainers</h4>-->
<!--                        <p>Set have great you male grasses yielding yielding first their to called-->
<!--                            deep abundantly Set have great you male</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6 col-xl-3">-->
<!--                <div class="single_feature">-->
<!--                    <div class="single_feature_part single_feature_part_2">-->
<!--                        <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>-->
<!--                        <h4>Job Oppurtunity</h4>-->
<!--                        <p>Set have great you male grasses yielding yielding first their to called deep-->
<!--                            abundantly Set have great you male</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section class="learning_part">-->
<!--    <div class="container">-->
<!--        <div class="row align-items-sm-center align-items-lg-stretch">-->
<!--            <div class="col-md-7 col-lg-7">-->
<!--                <div class="learning_img">-->
<!--                    <img src="img/learning_img.png" alt="">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-5 col-lg-5">-->
<!--                <div class="learning_member_text">-->
<!--                    <h5>About us</h5>-->
<!--                    <h2>Learning with Love-->
<!--                        and Laughter</h2>-->
<!--                    <p>Fifth saying upon divide divide rule for deep their female all hath brind Days and beast-->
<!--                        greater grass signs abundantly have greater also-->
<!--                        days years under brought moveth.</p>-->
<!--                    <ul>-->
<!--                        <li><span class="ti-pencil-alt"></span>Him lights given i heaven second yielding seas-->
<!--                            gathered wear-->
<!--                        </li>-->
<!--                        <li><span class="ti-ruler-pencil"></span>Fly female them whales fly them day deep given-->
<!--                            night.-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    <a href="#" class="btn_1">Read More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section class="member_counter">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-3 col-sm-6">-->
<!--                <div class="single_member_counter">-->
<!--                    <span class="counter">1024</span>-->
<!--                    <h4>All Teachers</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-sm-6">-->
<!--                <div class="single_member_counter">-->
<!--                    <span class="counter">960</span>-->
<!--                    <h4> All Students</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-sm-6">-->
<!--                <div class="single_member_counter">-->
<!--                    <span class="counter">1020</span>-->
<!--                    <h4>Online Students</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-sm-6">-->
<!--                <div class="single_member_counter">-->
<!--                    <span class="counter">820</span>-->
<!--                    <h4>Ofline Students</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section class="special_cource padding_top">
    <div class="container">
        <div class="row justify-content-center" style="height: 100px">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>Khóa học</p>
                    <h2>Bạn cũng có thể thích</h2>
                </div>
            </div>
        </div>

        <div id="courseCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!-- Carousel items will be appended here by JavaScript -->
            </div>

            <a class="carousel-control-prev" href="#courseCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#courseCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>



<style>
    .carousel-inner .row {
        display: flex;
        flex-wrap: nowrap;
    }

    .carousel-inner .col-sm-4 {
        flex: 0 0 auto;
        width: 33.3333%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .carousel-control-prev {
        border-radius: 50%;
        width: 60px;
        background: black;
        height: 60px;
        margin-left: -3%;
        margin-top: -112px;
    }

    .carousel-control-next {
        border-radius: 50%;
        width: 60px;
        background: black;
        height: 60px;
        margin-right: -34px;
        margin-top: -112px;
    }

</style>
<section class="advance_feature learning_part">
    <div class="container">
        <div class="row align-items-sm-center align-items-xl-stretch">
            <div class="col-md-6 col-lg-6">
                <div class="learning_member_text">
                    <h5>Advance feature</h5>
                    <h2>Our Advance Educator
                        Learning System</h2>
                    <p>Fifth saying upon divide divide rule for deep their female all hath brind mid Days
                        and beast greater grass signs abundantly have greater also use over face earth
                        days years under brought moveth she star</p>
                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="learning_member_text_iner">
                                <span class="ti-pencil-alt"></span>
                                <h4>Learn Anywhere</h4>
                                <p>There earth face earth behold she star so made void two given and also our</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="learning_member_text_iner">
                                <span class="ti-stamp"></span>
                                <h4>Expert Teacher</h4>
                                <p>There earth face earth behold she star so made void two given and also our</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="learning_img">
                    <img src="img/advance_feature_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial_part">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>tesimonials</p>
                    <h2>Happy Students</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="textimonial_iner owl-carousel">
                    <div class="testimonial_slider">
                        <div class="row">
                            <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                <div class="testimonial_slider_text">
                                    <p>Behold place was a multiply creeping creature his domin to thiren open void
                                        hath herb divided divide creepeth living shall i call beginning
                                        third sea itself set</p>
                                    <h4>Michel Hashale</h4>
                                    <h5> Sr. Web designer</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-2 col-sm-4">
                                <div class="testimonial_slider_img">
                                    <img src="img/testimonial_img_1.png" alt="#">
                                </div>
                            </div>
                            <div class="col-xl-4 d-none d-xl-block">
                                <div class="testimonial_slider_text">
                                    <p>Behold place was a multiply creeping creature his domin to thiren open void
                                        hath herb divided divide creepeth living shall i call beginning
                                        third sea itself set</p>
                                    <h4>Michel Hashale</h4>
                                    <h5> Sr. Web designer</h5>
                                </div>
                            </div>
                            <div class="col-xl-2 d-none d-xl-block">
                                <div class="testimonial_slider_img">
                                    <img src="img/testimonial_img_1.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_slider">
                        <div class="row">
                            <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                <div class="testimonial_slider_text">
                                    <p>Behold place was a multiply creeping creature his domin to thiren open void
                                        hath herb divided divide creepeth living shall i call beginning
                                        third sea itself set</p>
                                    <h4>Michel Hashale</h4>
                                    <h5> Sr. Web designer</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-2 col-sm-4">
                                <div class="testimonial_slider_img">
                                    <img src="img/testimonial_img_2.png" alt="#">
                                </div>
                            </div>
                            <div class="col-xl-4 d-none d-xl-block">
                                <div class="testimonial_slider_text">
                                    <p>Behold place was a multiply creeping creature his domin to thiren open void
                                        hath herb divided divide creepeth living shall i call beginning
                                        third sea itself set</p>
                                    <h4>Michel Hashale</h4>
                                    <h5> Sr. Web designer</h5>
                                </div>
                            </div>
                            <div class="col-xl-2 d-none d-xl-block">
                                <div class="testimonial_slider_img">
                                    <img src="img/testimonial_img_1.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_slider">
                        <div class="row">
                            <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                <div class="testimonial_slider_text">
                                    <p>Behold place was a multiply creeping creature his domin to thiren open void
                                        hath herb divided divide creepeth living shall i call beginning
                                        third sea itself set</p>
                                    <h4>Michel Hashale</h4>
                                    <h5> Sr. Web designer</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-2 col-sm-4">
                                <div class="testimonial_slider_img">
                                    <img src="img/testimonial_img_3.png" alt="#">
                                </div>
                            </div>
                            <div class="col-xl-4 d-none d-xl-block">
                                <div class="testimonial_slider_text">
                                    <p>Behold place was a multiply creeping creature his domin to thiren open void
                                        hath herb divided divide creepeth living shall i call beginning
                                        third sea itself set</p>
                                    <h4>Michel Hashale</h4>
                                    <h5> Sr. Web designer</h5>
                                </div>
                            </div>
                            <div class="col-xl-2 d-none d-xl-block">
                                <div class="testimonial_slider_img">
                                    <img src="img/testimonial_img_1.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="blog_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>Our Blog</p>
                    <h2>Students Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <img src="img/blog/blog_1.png" class="card-img-top" alt="blog">
                        <div class="card-body">
                            <a href="#" class="btn_4">Design</a>
                            <a href="blog.html">
                                <h5 class="card-title">Dry beginning sea over tree</h5>
                            </a>
                            <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                            <ul>
                                <li><span class="ti-comments"></span>2 Comments</li>
                                <li><span class="ti-heart"></span>2k Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <img src="img/blog/blog_2.png" class="card-img-top" alt="blog">
                        <div class="card-body">
                            <a href="#" class="btn_4">Developing</a>
                            <a href="blog.html">
                                <h5 class="card-title">All beginning air two likeness</h5>
                            </a>
                            <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                            <ul>
                                <li><span class="ti-comments"></span>2 Comments</li>
                                <li><span class="ti-heart"></span>2k Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <img src="img/blog/blog_3.png" class="card-img-top" alt="blog">
                        <div class="card-body">
                            <a href="#" class="btn_4">Design</a>
                            <a href="blog.html">
                                <h5 class="card-title">Form day seasons sea hand</h5>
                            </a>
                            <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                            <ul>
                                <li><span class="ti-comments"></span>2 Comments</li>
                                <li><span class="ti-heart"></span>2k Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<button id="back-to-top" title="Back to Top"><i class="fa-solid fa-angle-up"></i></button>

<footer th:replace="user/common/footer :: footer"></footer>
<div th:replace="user/common/script :: script"></div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
<script>
    $(document).ready(function () {
        function fetchParentCategories() {
            $.ajax({
                url: 'http://localhost:8080/api/category/admin/parents',
                method: 'GET',
                success: function (response) {
                    var data = response.data;
                    var parentMenu = $('#parent-menu');
                    parentMenu.empty();
                    for (var i = 0; i < data.length; i++) {
                        var category = data[i];
                        parentMenu.append(
                            '<li class="parent-item">' +
                            '<a href="#" data-id="' + category.id + '" class="parent-category">' + category.name + '</a>' +
                            '<div class="submenu-container" id="submenu-' + category.id + '">' +
                            '<ul class="submenu"></ul>' +
                            '</div>' +
                            '</li>'
                        );
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching parent categories:', error);
                }
            });
        }

        $('#parent-menu').on('mouseenter', '.parent-item', function () {
            var parentId = $(this).find('.parent-category').data('id');
            var subMenu = $(this).find('.submenu');
            $.ajax({
                url: 'http://localhost:8080/api/category/admin/searchByParentId/' + parentId,
                method: 'GET',
                success: function (response) {
                    var data = response.data;
                    subMenu.empty();
                    for (var i = 0; i < data.length; i++) {
                        var category = data[i];
                        subMenu.append('<li><a class="editSubMenu" href="#">' + category.name + '</a></li>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching subcategories:', error);
                }
            });
            $(this).find('.submenu-container').show();
        });
        $('#parent-menu').on('mouseleave', '.parent-item', function () {
            $(this).find('.submenu-container').hide();
        });
        fetchParentCategories();
    });


</script>
<script>
    $(document).ready(function () {
        initData();
    });

    function initData() {
        getCourse();
    }

    function getCourse() {
        let courseContainer = $('#courseCarousel .carousel-inner');
        courseContainer.empty();

        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/course/list",
            dataType: "json",
            success: function (response) {
                let courses = response?.data?.content;
                let slides = [];
                for (let i = 0; i < courses.length; i++) {
                    let data = courses[i];
                    let courseHtml =
                        '<div class="col-sm-4">' +
                        '<div class="single_special_cource">' +
                        '<img style="width: 100%; height: 200px;" src="data:image/png;base64,' +
                        (data.imageFile[0] || 'placeholder.jpg') +
                        '" class="special_img" alt="">' +
                        '<div class="special_cource_text">' +
                        '<h2 style="font-size: 17px">' + data.name + '</h2>' +
                        '<span>created : ' + data.createdBy + '</span> <br>' +
                        '<div class="rating-container">' +
                        '<span class="rating-number">' + (data.rating || 'N/A') + '</span>' +
                        '<span class="rating-stars">' + generateStars(data.rating) + '</span>' +
                        '<span class="rating-text">(' + (data.ratingsCount || 0) + ' ratings)</span>' +
                        '</div>' +
                        '<span style="font-weight: bold;font-size: 18px">' + formatPrice(data.price) + '</span> <br>' +
                        '<div class="shopping-item-bestseller">Bestseller</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                    if (i % 3 === 0) {
                        slides.push('<div class="carousel-item ' + (i === 0 ? 'active' : '') + '"><div class="row">' + courseHtml);
                    } else if ((i + 1) % 3 === 0) {
                        slides[slides.length - 1] += courseHtml + '</div></div>';
                    } else {
                        slides[slides.length - 1] += courseHtml;
                    }
                }

                if (slides.length && slides[slides.length - 1].indexOf('</div></div>') === -1) {
                    slides[slides.length - 1] += '</div></div>';
                }

                courseContainer.append(slides.join(''));
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function formatPrice(price) {
        return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price);
    }

    function generateStars(rating) {
        let stars = '';
        for (let i = 0; i < 5; i++) {
            if (i < Math.floor(rating)) {
                stars += '<i class="fas fa-star"></i>';
            } else if (i < rating) {
                stars += '<i class="fas fa-star-half-alt"></i>';
            } else {
                stars += '<i class="far fa-star"></i>';
            }
        }
        return stars;
    }

</script>