<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/head :: head"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<div id="preloader">
    <div class="loader"></div>
</div>
<div class="page-container">
    <aside th:replace="admin/common/sidebar :: sidebar"></aside>
    <div class="main-content">
        <nav th:replace="admin/common/navbar :: navbar"></nav>
        <div class="col-12 mt-4">
            <div class="alert_message">
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="data-tables datatable-dark">
                        <div id="dataTable3_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <input style="width: 100px" id="addRole" class="btn btn-rounded btn-secondary mb-3"
                                           data-toggle="modal" data-target="#exampleModalLong" type="button"
                                           value="Thêm">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="dataTable3_filter" class="dataTables_filter"><label>Tìm kiếm:<input
                                            type="search" style="width: 250px" class="form-control form-control-sm"
                                            placeholder=""
                                            aria-controls="dataTable3"></label></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table style="width: 100%;">
                                        <thead class="text-capitalize">
                                        <tr role="row">
                                            <th>STT</th>
                                            <th>Quyền</th>
                                            <th>Thao tác</th>
                                        </tr>
                                        </thead>
                                        <tbody id="list_role">
                                        <!--     content        -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <style>
                                th, td {
                                    border: 1px solid #dddddd;
                                    padding: 8px;
                                    text-align: center;

                                }
                            </style>
                            <div class="row">
                                <div class="col-sm-12 col-md-12" style="margin-top: 20px;">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable3_paginate">
                                        <ul class="pagination" id="pageId">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active">
                                                <a class="page-link" href="#">2 <span
                                                        class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--modal-->
<div class="col-lg-6 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="modal fade" id="exampleModalLong">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="title_modal" class="modal-title">User Information</h5>
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" id="idRole" name="idRole" hidden="hidden">
                                        <div class="form-group">
                                            <label>Tên quyền</label>
                                            <input type="text" name="name" class="form-control" id="name"
                                                   placeholder="Nhập tên quyền">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" id="update-role-btn" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="admin/common/script :: script"></div>
<script>
    $(document).ready(function () {
        initData();
    });

    function initData() {
        let page = 0;
        let size = 7;
        getRole(page, size);
    }

    function getRole(page, size) {
        let bodyTable = $('#list_role');
        bodyTable.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/role/list?page=" + page + "&size=" + size,
            dataType: "json",
            success: function (response) {
                console.log(response);
                let users = response?.data?.content;
                for (let i = 0; i < users.length; i++) {
                    let data = users[i];
                    let row = '<tr class="odd">' +
                        '<td style="max-width: 50px;" >' + (i + 1) + '</td>' +
                        '<td>' + data.name + '</td>' +
                        '<td style="width: 225px">' +
                        '<a data-toggle="modal" data-target="#exampleModalLong" type="button" class="btn btn-default edit-role-btn" data-id="' + data.id + '" ><i style="color: black;font-size: 18px" class="fa-regular fa-pen-to-square"></i></a>' +
                        '<a type="button" class="btn btn-default delete-role-btn" data-id="' + data.id + '" ><i style="color: black;font-size: 18px" class="fa-regular fa-trash-can"></i></a>' +
                        '</td>' +
                        '</tr>';
                    bodyTable.append(row);
                }

                // Phân trang
                let totalPage = response.data.totalPages;
                let currentPage = response.data.pageable.pageNumber;
                if (totalPage > 0) {
                    $("#pageId").empty();
                    let pages = '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage - 1) + ',7,event)" href="#"><i class="fa-solid fa-chevron-up fa-rotate-270"></i></a></li>';
                    for (let i = 0; i < totalPage; i++) {
                        if (currentPage === i) {
                            pages += '            <li class="page-item active">\n' +
                                '                <a class="page-link " onclick="changePage(' + i + ',7,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                '            <li class="page-item">';
                        } else {
                            pages += '            <li class="page-item">\n' +
                                '                <a class="page-link" onclick="changePage(' + i + ',7,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                '            <li class="page-item">';
                        }
                    }
                    pages += '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage + 1) + ',7,event)" href="#"><i class="fa-solid fa-chevron-up fa-rotate-90"></i></a></li>';
                    $("#pageId").append(pages);
                }


                $('#addRole').click(function () {
                    resetInfor();
                    $('#title_modal').text('Thêm quyền');
                    $('#exampleModalLong').modal('show');
                    $('#exampleModalLong').off('click', '.btn-primary').on('click', '.btn-primary', function () {
                        var formData = {
                            name: $('#name').val()
                        };
                        $.ajax({
                            type: "POST",
                            url: "http://localhost:8080/api/role/create",
                            contentType: "application/json",
                            data: JSON.stringify(formData),
                            dataType: "json",
                            success: function (response) {
                                console.log(response);
                                $('#exampleModalLong').modal('hide');
                                window.location.reload();
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    });
                });

                $('.edit-role-btn').click(function (event) {
                    event.preventDefault();
                    var roleId = $(this).data('id');
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8080/api/role/search/" + roleId,
                        success: function (response) {
                            $('#title_modal').text('Cập nhập quyền');
                            var role = response.data;
                            getInfoRole(role);
                            $('#update-role-btn').off('click').on('click', function () {
                                var updatedRole = {
                                    id: $('#idRole').val(),
                                    name: $('#name').val()
                                };
                                $.ajax({
                                    type: "PUT",
                                    url: "http://localhost:8080/api/role/update/" + updatedRole.id,
                                    contentType: "application/json",
                                    data: JSON.stringify(updatedRole),
                                    success: function (updateResponse) {
                                        console.log(updateResponse);
                                        $('#exampleModalLong').modal('hide');
                                        window.location.reload();
                                    },
                                    error: function (updateError) {
                                        console.log(updateError);
                                    }
                                });
                            });
                            $('#exampleModalLong').modal('show');
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                });
                $('.delete-role-btn').click(function (event) {
                    event.preventDefault();
                    var roleId = $(this).data('id');
                    if (confirm('Bạn chắc chắn muốn xóa quyền này?')) {
                        $.ajax({
                            type: "DELETE",
                            url: "http://localhost:8080/api/role/delete/" + roleId,
                            success: function (response) {
                                console.log(response);
                                $('#deleteBtn' + roleId).closest('tr').remove();
                                showAlert('Thành công!', 'Bạn đã xóa thành công 01 quyền.', 'success');
                                getRole(0, 7)
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });

    }

    function getInfoRole(role) {
        $('#idRole').val(role.id);
        $('#name').val(role.name);
    }

    function resetInfor() {
        $('#title_modal').text('Thêm quyền');
        $('#name').val('');
    }

    function showAlert(title, message, type) {
        var alertHtml = '<div class="alert alert-' + type + ' alert-dismissible fade show" role="alert" style="margin-left: 70%">' +
            '<strong>' + title + '</strong> ' + message +
            '</div>';
        var alertElement = $(alertHtml);
        $('.alert_message').prepend(alertElement);
        setTimeout(function () {
            alertElement.alert('close');
        }, 2000);
    }

    function changePage(page, size, event) {
        event.preventDefault();
        getRole(page, size);
    }
</script>
</body>
</html>
