<div th:fragment="script">
  <!-- jquery plugins here-->
  <!-- jquery -->
  <script th:src="@{/user/js/jquery-1.12.1.min.js}"></script>
  <!-- popper js -->
  <script th:src="@{/user/js/popper.min.js}"></script>
  <!-- bootstrap js -->
  <script th:src="@{/user/js/bootstrap.min.js}"></script>
  <!-- easing js -->
  <script th:src="@{/user/js/jquery.magnific-popup.js}"></script>
  <!-- swiper js -->
  <script th:src="@{/user/js/swiper.min.js}"></script>
  <!-- swiper js -->
  <script th:src="@{/user/js/masonry.pkgd.js}"></script>
  <!-- particles js -->
  <script th:src="@{/user/js/owl.carousel.min.js}"></script>
  <script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
  <!-- swiper js -->
  <script th:src="@{/user/js/slick.min.js}"></script>
  <script th:src="@{/user/js/jquery.counterup.min.js}"></script>
  <script th:src="@{/user/js/waypoints.min.js}"></script>
  <!-- custom js -->
  <script th:src="@{/user/js/custom.js}"></script>
</div>