<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/head :: head"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<div id="preloader">
    <div class="loader"></div>
</div>
<div class="page-container">
    <aside th:replace="admin/common/sidebar :: sidebar"></aside>
    <div class="main-content">
        <nav th:replace="admin/common/navbar :: navbar"></nav>
        <div class="col-12 mt-4">
            <div class="alert_message">
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="data-tables datatable-dark">
                        <div id="dataTable3_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <input style="width: 100px" id="addRole" class="btn btn-rounded btn-secondary mb-3"
                                           data-toggle="modal" data-target="#exampleModalLong" type="button"
                                           value="Thêm">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="dataTable3_filter" class="dataTables_filter"><label>Tìm kiếm:<input
                                            type="search" style="width: 250px" class="form-control form-control-sm"
                                            placeholder=""
                                            aria-controls="dataTable3"></label></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table style="width: 100%;">
                                        <thead class="text-capitalize">
                                        <tr role="row">
                                            <th>STT</th>
                                            <th>Quyền</th>
                                            <th>Thao tác</th>
                                        </tr>
                                        </thead>
                                        <tbody id="list_role">
                                        <!--     content        -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <style>
                                th, td {
                                    border: 1px solid #dddddd;
                                    padding: 8px;
                                    text-align: center;

                                }
                            </style>
                            <div class="row">
                                <div class="col-sm-12 col-md-12" style="margin-top: 20px;">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable3_paginate">
                                        <ul class="pagination" id="pageId">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active">
                                                <a class="page-link" href="#">2 <span
                                                        class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--modal-->
<div class="col-lg-6 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="modal fade" id="exampleModalLong">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="title_modal" class="modal-title">User Information</h5>
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" id="idRole" name="idRole" hidden="hidden">
                                        <div class="form-group">
                                            <label>Tên quyền</label>
                                            <input type="text" name="name" class="form-control" id="name"
                                                   placeholder="Nhập tên quyền">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" id="update-role-btn" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="admin/common/script :: script"></div>
</body>
</html>
